<div class="docyard-code-block">
  <%= @code_block_html %>
  <button class="docyard-code-block__copy" aria-label="Copy code to clipboard" data-code="<%= @code_text %>">
    <%= @copy_icon %>
  </button>
</div>
