<button
  type="button"
  class="search-trigger"
  aria-label="Search documentation"
  aria-haspopup="dialog"
  data-search-trigger
>
  <span class="search-trigger-icon" aria-hidden="true">
    <%= icon(:magnifying_glass) %>
  </span>
  <span class="search-trigger-text">Search...</span>
  <kbd class="search-trigger-shortcut" data-search-shortcut>
    <span class="search-trigger-shortcut-icon" aria-hidden="true">
      <%= icon(:command) %>
    </span>
    <span class="search-trigger-shortcut-text">K</span>
  </kbd>
</button>
