<div class="sidebar-footer">
  <a href="https://github.com/sanifhimani/docyard"
     target="_blank"
     rel="noopener noreferrer"
     class="sidebar-footer-link">
    <div class="sidebar-footer-text">
      <p class="sidebar-footer-title">Built with Docyard</p>
    </div>
    <%= icon(:external) %>
  </a>
</div>
