<% unless @toc.empty? %>
  <button class="secondary-header-toc-toggle" aria-expanded="false" aria-controls="toc-content" aria-label="Toggle table of contents">
    <span>On this page</span>
    <%= icon(:caret_down) %>
  </button>
<% end %>
