<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - Server Error</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <main>
    <h1>500 - Internal Server Error</h1>
    <p>Something went wrong.</p>

    <% if @error_message %>
      <h3>Error Details:</h3>
      <pre><%= @error_message %></pre>
    <% end %>

    <% if @backtrace %>
      <h3>Backtrace:</h3>
      <pre><%= @backtrace %></pre>
    <% end %>
  </main>
</body>
</html>
