<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=<%= @target_url %>">
  <title>Redirecting...</title>
  <script>window.location.href = "<%= @target_url %>";</script>
</head>
<body>
  <p>Redirecting to <a href="<%= @target_url %>"><%= @target_url %></a>...</p>
</body>
</html>
